{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/main.css'  %}">
    </head>
    <body>

      <form action="index.html" method="post">

        <h1>Login</h1>

        <fieldset>
          <legend><span class="number">1</span>Your basic info</legend>
        </fieldset>



        </fieldset>
        <button type="submit">Login</button>
      </form>

    </body>
</html>
     <!--Start of Login Form UI-->
<form method="POST" action="">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="username" name="username" placeholder="Username..." class="form-control">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="password" name="password" placeholder="Password..." class="form-control">
    </div>


    <input type="submit" name="Register">

    {% for message in messages %}
        <p id="messages">{{message}}</p>
    {% endfor %}

    {{form.errors}}
    <a class="btn btn-sm btn-info" href="{% url 'register' %}">New User: Register Here</a>
<!--End of Login Form UI-->
</form>

{% endblock %}