{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/main.css'  %}">
    </head>
    <body>


        <form action="" method="post">

        <h1>Register</h1>

        <fieldset>
          <legend><span class="number">1</span>Your basic info</legend>
        </fieldset>

    </body>
</html>
<form method="POST" action="">
    {% csrf_token %}
    {{ form.username.label }}
    {{ form.username }}

    {{ form.email.label }}
    {{ form.email }}

    {{ form.password1.label }}
    {{ form.password1 }}

    {{ form.password2.label }}
    {{ form.password2 }}
    <fieldset>
        <input style="btn btn-sm btn-success" type="submit" name="Register">
    </fieldset>
    {{form.errors}}
    <a class="btn btn-sm btn-info" href="{% url 'login' %}">Already have an account: Login Here</a>

</form>

{% endblock %}