<br>

 <!--Start of UI and logic displaying the summary of items shopping on the dashboard page-->
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title"> Total Items in Shopping List
                </h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_orders }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title"> Total Items Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ delivered }}</h3>

                </div>

            </div>

        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Total Items Pending-Delivery</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ pending }}</h3>
                </div>

            </div>

        </div>

    </div>
</div>
<!--End of UI and logic displaying the summary of items shopping on the dashboard page-->